[user]
	name = SepsiLaszlo
	email = sepsi.laszlo99@gmail.com
[alias]
        br = branch
        ch = checkout
        chb = checkout -b
        co = commit
        st = status
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        lgo = log --oneline
        ps = push
        psf = push --force
        pu = pull
        pur = pull --rebase
        rb = rebase
	rbc = rebase --continue
	rba = rebase --abort
        com = commit -m
        amend = commit --amend
        aa = add --all
	coa = git push --force add -A && git commit --amend

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = code --wait
[diff "enc"]
  textconv = rails encrypted:show
  cachetextconv = false
